<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Optional: needed to locate device in branch finder -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="false">

        <activity
            android:name=".BasicIdentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"
            android:theme="@style/PIPostTheme" />
    </application>

</manifest>