<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application android:allowBackup="false"
        android:largeHeap="true">


        <activity
            android:name=".AutoIdentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|locale"
            android:theme="@style/PIPostTheme" />
    </application>

</manifest>